.main-container {
  width: 100%;
  min-height: 100%;
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-around;
  padding: 2rem;

  ul {
    padding: 0 !important;
    list-style: none;
  }

  li {
    font-size: 1rem;
    padding-bottom: 10px;
    list-style: none;

    a {
      color: black;
    }

    a:hover {
      color: blue;
    }

    a.active {
      color: black;
      font-weight: 900;
    }
  }

  .sidebar {
    background-color: white;
    border-radius: 9px;
    flex-basis: 20%;
  }

  .sidebar-left-subtitle {
    display: block;
    padding: 1rem 1rem;
    white-space: nowrap;
    text-decoration: none;
  }

  .sidebar-left-subtitle:hover {
    background-color: #f3f0f0;
    border-radius: 0 16px 16px 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 9px;
    padding: 20px;
    flex-basis: 75%;
  }

  .sidebar-title h4 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .page-title {
    margin-bottom: 25px;
  }

  .page-title h2 {
    font-weight: 900;
    color: black;
  }

  .page-body {
    margin: 10px 0 !important;
  }

  .page-examples {
    margin: 20px 50px !important;
  }

  .page-examples li {
    list-style-type: disc;
  }

  .grammar-explanation-paragraph {
    background-color: #d0e1fb;
    color: #1b1b52;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
 
  }
}

@media only screen and (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 auto !important;
  }

  .sidebar {
    // width: 90vw;
    margin: 2rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    // width: 90vw !important;
    border-radius: 9px;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .sidebar {
    width: 100%;
  }
}
