.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;

  .footer-logo {
    margin-left: -1.6rem;
  }

  .footer-logo img {
    margin-bottom: 64px;
  }

  .logo-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-form {
    padding-bottom: 200px;
  }

  .contact-info-container {
    margin: 16px 0 16px 150px;
  }

  .form-control {
    height: 45px;
  }

  .text-area {
    height: 136px;
    margin-bottom: 38px;
    width: 234px;
  }

  .footer-submit-btn {
    margin-bottom: 86px;
    margin-left: 238px;
  }

  .contact-form-text-area-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #text-area-container {
    margin-left: 80px;
  }

  .logo-contact-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  .logo-container {
    margin-top: 10px;
  }

  .logo-contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-info-container {
    margin: 16px 0px 16px 10px !important;
  }

  .contact-form-text-area-container {
    flex-direction: column;
  }

  .footer .contact-form {
    padding-bottom: 0px;
  }

  .footer #text-area-container {
    margin-left: 27px;
  }
}

@media screen and (max-width: 450px) {
  .sidebar-container {
    align-items: center;
  }

  .sidebar-left,
  .sidebar-right {
    margin: 20px 0px !important;
    padding: 0px !important;
  }

  .page-title {
    padding: 15px 10px 0px 10px;
  }

  .definition-pictures-container .definition-pictures img {
    height: 150px !important;
    width: 280px !important;
  }

  .footer {
    display: flex;
    flex-direction: column;

    .logo-email-container {
      margin-top: 12px !important;
      width: 100%;
      display: flex;
      justify-content: center;

      .logo {
        width: 40%;
      }

      .email {
        padding-right: 15px !important;
        width: 49%;
      }
    }

    .contact-info-container {
      margin: 16px 0 16px 10px !important;
    }

    .logo-contact-container {
      display: flex !important;
    }

    .footer-logo img {
      margin-bottom: 20px !important;
    }

    .contact-form {
      padding-bottom: 0;
      width: 70% !important;
      margin-bottom: 6px !important;
    }

    #text-area-container {
      margin-left: 0px !important;
    }

    #text-area-container {
      width: 70% !important;
      margin-left: 0px;
    }

    .text-area {
      width: 100%;
      margin-bottom: 15px !important;
    }

    .logo-email,
    .contact-form {
      margin: 1rem 3rem;
    }

    .contact-form-text-area-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0px 30px;
    }

    #text-area-container {
      margin-left: 26px;
    }

    .footer-submit-btn {
      width: 70%;
      margin-left: 0px;
    }
  }
}
