.navbar-brand img {
	width: 130px;
}

.nav-link {
	padding-right: 2rem !important;
	padding-left: 1rem;
	transition: 1s ease;
	&:hover {
		transform: scale(1.1);
	}
}

.nav-link {
	padding-right: 15px;
	padding-left: 15px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.navbar-search-btn {
    color: blue; 
    
    transition: all ease 1s; 
    &:hover {
        background-color: blue;  
    }
}