.btn-container {
    display: flex; 
}

.btn-primary {
    margin-right: 20px; 
}

.quiz-container {
    margin-bottom: 100px; 
}

.radio {
    margin-right: 10px; 
}

.check {
    color: purple; 
}
        
.close {
    color: red; 
}