
.answer {
    position: relative; 
    bottom: 93px; 
    left: 450px; 
}

.btn-container {
    display: flex; 
    justify-content: space-between;
    margin-left: 25px; 
}

.btn-primary {
    margin-right: 20px; 
}

.quiz-container {
    margin-bottom: 100px; 
}

.radio {
    margin-right: 10px; 
}

.check {
    color: purple; 
}
        
.close {
    color: red; 
}



@media only screen and (max-width: 700px) {
    .btn-flex {
        display: flex;
        flex-direction: column; 
    }

    .btn-primary {
        margin: 10px 0px;
        width: 100%;  
    }

    .btn-secondary {
        width: 100%; 
    }

    .quiz-buttons {
        display: flex;
        flex-direction: column; 
    }
  }