.answer-option {
  padding-top: 10px;
  display: flex;
  align-items: center;
  height: 27px;
  p {
    margin: 0 !important;
  }
}

.right-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
