body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    background: lightgray;
    box-shadow: 48px 1px 33px;
    margin-top: 70px; 
    padding-top: 30px; 
    left: 0; 
}

.sidebar a {
    color: black; 
    display: block; 
    width: 100%; 
    line-height: 60px; 
    text-decoration: 40px; 
    box-sizing: border-box;
    padding-left: 40px;
    transition: 0.5s;
    transition-property: background;

}

.sidebar p {
    color: black; 
    display: block; 
    width: 100%; 
    line-height: 60px; 
    text-decoration: 40px; 
    box-sizing: border-box;
    padding-left: 40px;
    transition: 0.5s;
    transition-property: background;

}

.sidebar a:hover {
    background: #1983d3;
    width: 12.4rem;
}

.sidebar p:hover {
    background: #1983d3;
    width: 13.6rem;
    height: 3.2rem; 
}