.expressions {
    .page-title {
        margin-bottom: 2rem; 
    }
    .body p {
        margin-bottom: 2rem !important; 
    }
}

.expressions-image1-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 2rem; 
    p {
        margin: 0 10px 0 30px !important; 
    }
}

.expressions-image2-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 2rem; 
    p {
        margin: 0 10px 0 30px !important; 
    }
}


.expressions-image1,
.expressions-image2 {
    width: 250px; 
    border-radius: 10px;  
}