//Nouns styling
.definition-pictures-container {
    display: flex;
    justify-content: space-around;  
    align-items: center; 

    .definition-pictures {
        display: flex;
        flex-direction: column;  
        align-items: center; 
    
    img {
        border-radius: 5px;
        height: 220px;  
        width: 270px;
        margin-bottom: 40px; 
        }
    }
}

.expressions-definition-body .image1 {
    width: 250px; 
    border-radius: 10px; 
}

.expressions-definition-body .image2 {
    width: 300px; 
    height: 200px; 
    border-radius: 10px; 
}

.expressions-definition-images {
    margin-top: 40px; 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
}


