@import "~bootstrap/scss/functions";
@import "./_variables.scss";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "./components/navbar.scss"; 

@import "./pages/home.scss";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    height: 100vh;   
}

#customers {
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }
